// Colors
$c-white: #ffffff;
$c-dark: #333333;
$c-grey: #464646;
$c-light-grey: #979797;
$c-lightest-grey: #707070;
$c-light-pink: #ebebeb;
$c-positive: rgba(#1cbbb4, .7);
$c-negative: rgba(#ffad1d, .7);

// Breakpoints
$max-mobile: 480px;
$max-tablet: 768px;
$max-laptop: 1024px;
$max-desktop: 1280px;

$min-tablet: 480px;
$min-laptop: 768px;
$min-desktop: 1024px;