@import "src/assets/styles/base/variables.scss";
@import "src/assets/styles/base/mixins.scss";

header {
  @include display-flex(column, flex-start);
  justify-content: space-between;
  transform: translateY(-84px);
  width: 100%;
  height: 740px;
  background: url('../../assets/images/pope.jpg') no-repeat center center / cover;
  z-index: 1;
  aside {
    @include display-flex(column, stretch);
    width: 500px;
    height: 451px;
    margin: 171px 0 0 134px;
    position: relative;
    .content {
      flex: 1;
      background-color: rgba($c-grey, .6);
      color: $c-white;
      backdrop-filter: blur(10px);
      padding: 35px 55px 35px 35px;
      h1 {
        font-size: 60px;
        line-height: 61px;
      }
    }
  }
}