<div class="home-wrapper">
  <header>
    <aside>
      <div class="content">
        <h2>What’s your opinion on</h2>
        <h1>Pope Francis?</h1>
        <p>
          He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up) 
        </p>
        <a href="#">
          <img src="../../assets/images/wiki.png" alt="Wikipedia">
          More information
        </a>
        <h3>What’s Your Verdict?</h3>
      </div>
      <div class="vote">
        <button class="up"></button>
        <button class="down"></button>
      </div>
    </aside>
    <div class="bottom-bar">
      <div class="closing">CLOSING IN</div>
      <div class="days"><span>22</span> days</div>
    </div>
  </header>
  
  <main>
    <div class="info-banner">
      <div class="left-content">
        Speak out. Be heard. 
        <span>Be counted</span>
      </div>
      <div class="right-content">
        <p>
          Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.
        </p>
        <button>X</button>
      </div>
    </div>
    <h4>Vote</h4>
    
    <div class="votes-container">
      <div class="votes-grid">
        <div class="inner-vote">
          <div class="top">
            <h5>
              <span class="positive"></span>
              Kanye West
            </h5>
            <span>
              <b>1 month ago</b> in Entertainment
            </span>
          </div>
          <div>
            <p>Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
            <div class="actions">
              <div class="vote-act">
                <button class="positive-vote"></button>
                <button class="negative-vote"></button>
                <button>Vote Now</button>
              </div>
            </div>
          </div>
          <div class="results">
            <div class="up">64%</div>
            <div class="down">36%</div>
          </div>
        </div>

        <div class="inner-vote">
          <div class="top">
            <h5>
              <span class="positive"></span>
              Kanye West
            </h5>
            <span>
              <b>1 month ago</b> in Entertainment
            </span>
          </div>
          <div>
            <p>Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
            <div class="actions">
              <div class="vote-act">
                <button class="positive-vote"></button>
                <button class="negative-vote"></button>
                <button>Vote Now</button>
              </div>
            </div>
          </div>
          <div class="results">
            <div class="up">64%</div>
            <div class="down">36%</div>
          </div>
        </div>

        <div class="inner-vote">
          <div class="top">
            <h5>
              <span class="positive"></span>
              Kanye West
            </h5>
            <span>
              <b>1 month ago</b> in Entertainment
            </span>
          </div>
          <div>
            <p>Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
            <div class="actions">
              <div class="vote-act">
                <button class="positive-vote"></button>
                <button class="negative-vote"></button>
                <button>Vote Now</button>
              </div>
            </div>
          </div>
          <div class="results">
            <div class="up">64%</div>
            <div class="down">36%</div>
          </div>
        </div>

        <div class="inner-vote">
          <div class="top">
            <h5>
              <span class="positive"></span>
              Kanye West
            </h5>
            <span>
              <b>1 month ago</b> in Entertainment
            </span>
          </div>
          <div>
            <p>Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
            <div class="actions">
              <div class="vote-act">
                <button class="positive-vote"></button>
                <button class="negative-vote"></button>
                <button>Vote Now</button>
              </div>
            </div>
          </div>
          <div class="results">
            <div class="up">64%</div>
            <div class="down">36%</div>
          </div>
        </div>
      </div>
    </div>

    <div class="message">
      <p>Is there anyone else you would want us to add?</p>
      <button>Submit a Name</button>
    </div>
  </main>
</div>